<p id="notice"><%= notice %></p>

<p>
  <b>Hours:</b>
  <%= @gife.hours %>
</p>

<p>
  <b>Charityname:</b>
  <%= @gife.charityname %>
</p>

<p>
  <b>Charityid:</b>
  <%= @gife.charityid %>
</p>


<%= link_to 'Edit', edit_gife_path(@gife) %> |
<%= link_to 'Back', gives_path %>
